<main>

  <div class="flex flex-col items-center justify-end " id="home">


    <h1 class=" text-violet-900 pf-name text-3xl md:text-4xl mt-60 ">Myo Naing Oo </h1>
    <h4 class="text-center title">Web Developer</h4>
    <div class="row text-center justify-content-center d-flex bg-violet-700 py-2 px-4 rounded-md hover:bg-violet-800 ">

      <a href="./assets/myonaingoo.pdf" class="  "><fa-icon [icon]="faDown" class="mx-2"></fa-icon> Resume</a>
    </div>
  </div>

  <div class="service row flex flex-col  justify-center my-5 pt-24" id="service">

    <h4 class="text-center title">Service</h4>
    <div class=" flex flex-wrap justify-center items-center md:justify-around flex-row ">
      <div *ngFor="let item of services" class=" my-shadow  rounded-md glass w-56 h-72 p-5 m-2 hover:bg-gray-200 dark:hover:bg-gray-900 ">
        <div>

          <p class="my-2">{{ item.name }}</p>
          <p class="my-2">Pages {{ item.pages}} </p>
          <p class="my-2"><fa-icon [icon]="item.getcode ? facheck : fax "
              [class]="item.getcode ? 'text-green-500' : 'text-red-500' "></fa-icon> get source code </p>
          <p class="my-2"><fa-icon [icon]="item.sociallink ? facheck : fax "
              [class]="item.sociallink ? 'text-green-500' : 'text-red-500' "></fa-icon> social media link </p>
          <p class="my-2"><fa-icon [icon]="item.threed ? facheck : fax "
              [class]="item.threed ? 'text-green-500' : 'text-red-500' "></fa-icon> 3D Model</p>
          <p class="my-2"><fa-icon [icon]="item.hosting ? facheck : fax "
              [class]="item.hosting ? 'text-green-500' : 'text-red-500' "></fa-icon> Hosting</p>

          <p>${{ item.price }}</p>

        </div>
      </div>
    </div>



  </div>

  <!-- skill start -->

  <div class="skill mt-2 pt-24" id="skill">
    <div class=" py-5">

      <h4 class="text-center title">Skill</h4>

      <!-- <div class="flex  flex-col md:flex-row justify-center  h-64  "> -->
      <div class="flex flex-wrap justify-center items-center md:justify-around flex-row ">
        <div class="skill-cat col-4 glass col-md-3 col-lg-2 mx-2 my-1 md:p-3 p-1 w-40  h-64">
          <strong>Language</strong>
          <p>C / C++</p>
          <p>HTML</p>
          <p>Css</p>
          <p>Sass / Scss</p>
          <p>JavaScript</p>
          <p>TypeScript</p>
          <p>Php</p>
          <p>Java</p>
          <p>Kotlin</p>
        </div>

        <div class="skill-cat col-4 glass col-md-3 col-lg-2 mx-2 my-1 p-md-3 p-1 w-40 h-64">
          <strong>FrameWorks</strong>
          <p>Tailwind Css</p>
          <p>Angular</p>
          <p>Vue</p>
          <p>Java EE</p>
          <p>Spring Boot</p>
        </div>


        <div class="skill-cat col-4 glass col-md-3 col-lg-2 mx-2 my-1 p-md-3 p-1 w-40  h-64">
          <strong>Library</strong>
          <p>Bootstrap</p>
          <p>Material</p>
          <p>Three js</p>
        </div>

        <div class="skill-cat col-4 glass col-md-3 col-lg-2 mx-2 my-1 p-md-3 p-1 w-40  h-64">
          <strong>DataBase</strong>
          <p>MySQL</p>
          <p>PostgreSQL</p>
          <p>Mongodb</p>
        </div>

        <div class="skill-cat col-4  glass col-md-3 col-lg-2 mx-2 my-1 p-md-3 p-1 w-40 h-64">
          <strong>Other</strong>
          <p>Rest/RestFul API</p>
          <p>Git</p>
          <p>GitHub</p>
          <p>Docker</p>
          <p>Linux</p>
          <p>Blender</p>
        </div>
      </div>

    </div>

  </div>
  <!-- skill end -->
  <!-- about start -->
  <div class=" my-shadow mx-5  glass p-5" id="about">
    <h4 class="title">About</h4>
    <p>I have been studying programming since 2019.I learned basic c,c plus plus and python programming.
      And Then, I learned web development.
    </p>
    <p><strong> Introduction:</strong>
      Welcome to my portfolio showcasing my expertise as a Java Spring Boot and Angular developer.
      With a passion for creating robust backend systems and dynamic frontend interfaces,
      I have successfully delivered numerous projects that blend the power of Spring Boot's
      backend capabilities with Angular's interactive frontend components.</p>

    <br>
    <strong>E-commerce Platform (Java Spring Boot, Angular)</strong> <br>
    <p>
      Designed and developed a full-stack e-commerce platform.
      Implemented user authentication, product catalog, shopping cart, and order processing using Spring Boot.
      Created a responsive and intuitive user interface using Angular, enabling seamless shopping experiences.
    </p>
    <br>
    <br>
    <strong>Technical Skills:

    </strong>
    <ul>
      <li>Java: Proficient in Java programming, leveraging its capabilities for backend development.
      </li>
      <li>Spring Boot: Experienced in building RESTful APIs, handling authentication, and integrating with databases
        using Spring Boot.</li>
      <li>Angular: Skilled in creating responsive and dynamic user interfaces using Angular, including component-based
        architecture, services, and routing.</li>

      <li>RESTful APIs: Designing and implementing robust APIs for seamless communication between frontend and backend
        systems.</li>
      <li>Database Management: Familiarity with database design and management, including relational databases like
        MySQL and PostgreSQL.</li>
      <li>Version Control: Proficient in using Git for source code version control and collaboration.
      </li>
      <li>Agile Methodology: Experienced in working within an Agile development environment for efficient project
        delivery.</li>
    </ul>

  </div>
  <!-- about end -->
  <!-- project start -->

  <div class="mt-2  mx-md-5 py-5" id="project">

    <h4 class="text-center title">Project</h4>

    <div class="flex flex-row flex-wrap pj-con ">
      <div
        class="bg-blue-300 bg-opacity-30 rounded-md hover:rotate-3 hover:bg-blue-900 hover:bg-opacity-40 w-8/12 md:w-3/12 p-4 mt-2 glass "
        *ngFor="let project of dynamicPrject">
        <div class="project flex flex-col">
          <img [src]="project.imagePath" class="w-full" alt="">
          <p class="">{{ project.name }} </p>
          <a [href]="project.frontpj" class="bg-black text-white px-3 rounded-full my-2 ">Frontend source
            code</a>
          <a [href]="project.backpj" class="bg-black text-white px-3 rounded-full my-1 ">backend source code</a>
        </div>
      </div>
    </div>



  </div>
  <!-- project end -->


  <!-- contact start -->
  <div class="m-md-5 p-5 mx-1 glass" id="contact">
    <h4 class="text-center title mb-4 ">Contact</h4>

    <div class="flex flex-col md:flex-row ">


      <div class="w-full md:w-1/2 ">
        <div class="w-full flex flex-row my-2 " *ngFor="let contact of contacts">
          <p class="w-1/3 text-xs md:text-base "> {{ contact.lable }}</p>
          <a [href]="contact.link" class="w-3/4 text-xs md:text-base  ">: {{ contact.show }}</a>
        </div>


      </div>

      <div class=" w-full md:w-1/2 flex flex-row items-center justify-around ">
        <p class="text-xs md:text-base">Production By : MNO IT</p>
        <img src="./assets/logo.jpg" class=" w-20 h-20 md:w-40 md:h-40 rounded-xl" />

      </div>
    </div>

    <!-- imagePath: './assets/Mshop.jpg', -->

  </div>
  <!-- contact end -->
  <a href="#" class="btn btn-danger topbtn"><fa-icon [icon]="faanglaeup"></fa-icon></a>


  <footer class="text-center bg-gray-300 dark:bg-gray-900"> &copy; MNO 2023</footer>


</main>


<canvas id="bgcan"></canvas>

<div class="">
  <app-pfcube></app-pfcube>
</div>









<!--
        href="tel:+959254590211" class="nav-link mx-3">+959-254590211</a></p>

      <a href="https://www.google.com/maps/place/16.547280,+94.693328/@16.547344,94.6933796,19z/data=!3m1!1e3!4m4!3m3!8m2!3d16.5472801!4d94.6933276"


      <a href="https://youtube.com/@MNOIT" class="nav-link mx-3">MNO IT(youtube channel)</a>

      <a href="https://www.facebook.com/profile.php?id=100066607411343" class="nav-link mx-3">MyoNaingOo</a>

      <a href="https://www.instagram.com/myonaingoo623/tagged" class="nav-link mx-3">MyoNaingOo</a>

 -->
